{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <h1 style="text-align:center;"> jampalakadi jari metay company</h1>
    <div>
		<form>
			
			<table>
				<tr>
					<td><label>Name:</label></td>
					<td><input type="text"/></td>
				</tr>
				<tr>
					<td><label>email:</label></td>
					<td><input type="text"/></td>
				</tr>
			   <tr>
			   	<td><label>password:</label></td>
			   	<td><input type="passwaord"/></td>
			   </tr>
			   <tr>
			   	<td><label>phone number:</label></td>
			   	<td><input type="text"/></td>
			   </tr>
			 <tr>
			 	<td><label>gender</label></td>
			 	<td>
			 		<label>male</label>
			 		<input type="radio"name="one"/>
			 		<lable>female</lable>
			 		<input type="radio" name="one"/>
			 		<label>other</label>
			 		<input type="radio" name="one"/>
			 	</td>
			 	<tr>
			 		<td><label>language</label></td>
			 	<td>
			 		<select>
			 			<options>...select language...</options>
			 			<options>telugu</options>
			 			<options>english</options>
			 		</select>
			 	</td>
			 </tr>
			 <tr>
			 	<td><label>zip code</label></td>
			 	<td><input type="text"/></td>
			 </tr>
			 <tr>
			 	<td><label>about</label>
			 	<td><textarea cols="40" rows="5"></textarea></td>
			 </tr>
			 <tr>
			 <td colspan="3" align="center"><label>register</label>
			</td>
			 </tr>
		</table>
		</form>
		</div>
</body>
</html>
	
			
			